*{
 Box-sizing: border-box;
 Margin: 0;
 Padding: 0;
 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
 scroll-behavior: smooth;
}

*::-webkit-scrollbar{
 background-color: #04106a;
 width: 8px;
 border-radius: 8px;
}

*::-webkit-scrollbar-track{
 box-shadow: inset 0 0 5px rgb(255, 255, 255, .5);
}

*::-webkit-scrollbar-thumb{
 background-color: #ad8017;
 border-radius: 10px;
}

button:hover,
a:hover{
 cursor: pointer;
}

body {
 overflow-x: hidden;
 width: 100%;
}

nav{
 position: fixed;
 left: 0;
 display: grid;
 align-items: center;
 background-color: #101c58;
 Padding: 0.6rem 0.5rem;
 Margin: 0;
 Font-size: 12px;
 Font-weight: bold;
 width: 100%;
 z-index: 90;
}

.log{
 text-align: end;
 border-bottom: .5px solid rgb(255, 255, 255,.3);
 overflow: hidden;
}

.log button{
 background-color: transparent;
 color: #fff;
 padding: .2rem .5rem;
 margin-bottom: .3rem;
 border: 1.5px solid gold;
 border-radius: 5px;
}

.nav-items{
 display: flex;
 Justify-content: space-between;
 align-items: center;
 margin: .5rem ;
}

.brand-name{
 position: sticky;
 top: 0;
 display: flex;
 Font-size: 25px;
 align-items: center;
 Animation: fadeBrand 2s linear forwards; 
 overflow: hidden;  
 
 & a{
   Color: #bb914a;
   text-decoration: none;
 }

 & .trade{
   color: #fff;
 }
}

@keyframes fadeBrand{
from{
Opacity: 0;
}
to{
Opacity: 1;
}
}

.trade a{
Color:#fff;
Font-weight: bolder;
}

ul{
display: flex;
Align-items: center;
} 

li{
 display: block;
list-style: none;
margin-left: 1rem;
padding: .5rem;
Color: #fff;
}

li:hover{
 color: #8A6E2F;
 cursor: pointer;
}
li a{
 text-decoration: none;
 color: #fff;
}

li a:hover{
 color: #8A6E2F;
 cursor: pointer;
}
.login{
 display: none;
Border:1px solid gold;
Padding: 0.4rem 0.4rem;
Border-radius: 5px;
}

nav .container{
 display: none;
 position: absolute;
 width: 100%;
}

ul .about:hover .container,
ul .about:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr !important;
 background-color: #0c164a;
 color: #fff;
 text-align: center;
 margin-top: 0.5rem;
 padding: 1rem .5rem;
 left: 0;
 width: 100vw !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 1000;
 cursor: pointer;
}

.container .one:hover{
 color: #fff !important;
}

.container .two:hover{
 color: #fff !important;
}

li .container div{
 border-right: 1px solid white;
 width: 100% !important;
 padding: .2rem;
}

.container .one h1, h3{
 margin-bottom: .5rem;
 font-size: 28px;
}

.container .one p{
 font-size: 12px;
 line-height: 25px;
}

.container .two h1, h2, h3{
 margin: 1.5rem 0;
 font-size: 20px;
 text-align: center;
 border-bottom: 1px solid white;
}

.container .three h1{
 margin-bottom: .5rem;
 font-size: 20px;
 text-align: center;
 border-bottom: 1px solid white;

}

.container .three div{
 border: none;
}

.container ul{
 display: block;
 text-align: center;


 & li{
   margin-bottom: .5rem;
   margin-top: .5rem;
 }
}

.container li{
 cursor: pointer;
 color: #8A6E2F;
}

.container .two li:hover{
 color: #8A6E2F;
}

.container .two li:hover{
 color: #8A6E2F;
}

ul .about:hover .container,
ul .about:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 justify-content: center;
 text-align: center;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem 0rem;
 left: 0;
 width: 100% !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;

 & h1{
   width: 100%;
 }

 & img{
   width: 100%;
 }
}

ul .about:hover .container .two ul{
 display: inline;
 width: fit-content !important;
 text-align: center;
 justify-content: center;
 padding: 0.5rem;

 & li{
   font-size: 10px;
   margin: 0;
 }
}

ul .Product:hover .container,
ul .Product:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 justify-content: center;
 text-align: center;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem 0rem;
 left: 0;
 width: 100% !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;

 & h1{
   width: 100%;
 }

 & img{
   width: 100%;
 }
}

ul .Product:hover .container .two ul{
 display: inline;
 width: fit-content !important;
 text-align: center;
 justify-content: center;
 padding: 0.5rem;

 & li{
   font-size: 10px;
   margin: 0;
 }
}

ul .tools:hover .container,
ul .tools:focus-within .container  {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem .5rem;
 left: 0;
 width: 100vw !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;
}

ul .tools:hover .container ul{
 display: inline;
 text-align: center;
 padding-inline: auto;
 padding: 0 !important;
}

.head{
background-image: linear-gradient(to right, rgb(12, 22, 74), rgb(28, 40, 100), rgb(12, 22, 74));
 height: 60vh;
 padding-top: 9rem;

 & h1{
  color: #ad8017;
  text-align: center;
  font-size: 37px;
  font-weight: 100;
  padding-top: 6rem;
 }

 & p{
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-top: 1rem;
 }

 & .toggles{
  display: flex;
  text-align: center;
  margin: 2rem;
  justify-content: space-around;

  & .find{
   background-color: #fff;
   color: #0c164a;
  }

  & button{
   background-color: transparent;
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   padding: 2.5rem 15%; 
   border-radius: 10px !important;
   border: none;
   overflow: hidden;
   animation: opacity 2s;
   transition: ease-in 250ms;
   /* clip-path: polygon(0 33%, 100% 32%, 100% 75%, 59% 77%, 52% 85%, 41% 77%, 0 77%); */
  }

  & button:hover{
   background-color: rgb(255, 255, 255, .1) !important;
  }

  & button:focus-within{
   background-color: #fff !important;
   color: #0c164a;
  }
 }
}

@keyframes opacity{
 from{
  opacity: 0;
 }
 to{
  opacity: 1;
 }
}

.content{
 background-color: #0c164a;
 padding: 1rem 1rem 30rem 1rem;
 

 & .text{
  background-color: #fff;
  text-align: center;
  padding-top: 1.5rem ;
  height: 18vh;
  border-radius: 10px 10px 0 0;

  & p{
   color: #0c164a;
   font-size: 14px;
   margin: 1rem;
  }
 }

 & iframe{
  background-color: #fff;
  padding: 0 1rem 3rem 1rem !important;
  border-radius: 0 0 10px 10px;
 }

 & .contact{
  display: none;
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  height: 30vh;
  border-radius: 10px;
 }

 & h2{
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 3rem;
 }

 & p{
  font-size: 14px;
  margin-bottom: 3rem;
 }
}


.footer_text{

 & p{
   padding: 4rem 1rem;
   background-color: #101c58;
   color: rgb(255, 255, 255, .7);
   font-size: 9px;
 }
}



footer{
 background-color: #101c58;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 width: 100%;

 & ul{
   padding: 0 0 3.5rem 3rem;
 }

 & a{
   font-size: calc((10px) + .9vw);
   position: relative;
 }
}

footer a::after{
 content: '';
 position: absolute;
 bottom: -3px;
 left: 0;
 border: 1px solid  #1E53E5;
 width: 100%;
}

footer .bottom{
 text-align: left;
 display: grid;
 padding-left: 2rem;
}

footer .brand_name{
 display: flex;
 Font-size: 16px;
 align-items: center;
 Color: #bb914a;;
 font-weight: bold;

 & .trade{
   font-weight: 100;
   color: #fff;
 }
}

footer .copyright{
 color: rgb(255, 255, 255, .7);
 font-size: 14px;
 margin-block: 2rem;
}



@media (min-width: 1200px) {
 .head{
  padding-inline: 14rem !important;
 }
 .content{
  padding-inline: 18rem !important;

 }
 
}

@media (min-width: 50rem) {
 .head{
  padding-inline: 8rem;
 }
 .content{
  padding-inline: 6rem;

  & h2{
   font-size: 32px;
  }
 }

 footer .bottom{
   display: flex;
   margin-right: 2rem;
   align-items: center;
   justify-content: space-between;
 }
}




@media (max-width: 50rem) {
 nav{
   width: 100vw;
 }
 .log{
   display: none;
 }
 .login{
   display: block;
   font-size: 10px;
   margin-top: .5rem;
 }
 .brand-name{
   font-size: 30px;
   width: 100vw;
   margin-block: -1rem;
   justify-content: center;
   border-bottom: 1px solid rgb(255, 255, 255, .2);
   align-items: center;

 }
 .nav-items{
   display: grid;
   grid-template-columns: 1fr;
   justify-content: center;
 }
 .nav-items ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   text-align: left;
   margin-top: .5rem;
   padding: .5rem;
 }
 ul li{
   font-size: 12px;
   margin-left: 1rem;
 }

 .trade{
   & h1{
     font-size: 20px;
   }

   & button{
     width: 28rem ;
   }
 }
 
}  

