*{
 Box-sizing: border-box;
 Margin: 0;
 Padding: 0;
 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
 scroll-behavior: smooth;
}

*::-webkit-scrollbar{
 background-color: #04106a;
 width: 8px;
 border-radius: 8px;
}

*::-webkit-scrollbar-track{
 box-shadow: inset 0 0 5px rgb(255, 255, 255, .5);
}

*::-webkit-scrollbar-thumb{
 background-color: #ad8017;
 border-radius: 10px;
}

button:hover,
a:hover{
 cursor: pointer;
}

body {
 overflow-x: hidden;
 width: 100%;
}

nav{
 position: fixed;
 left: 0;
 display: grid;
 align-items: center;
 background-color: #0c164a;
 Padding: 0.6rem 0.5rem;
 Margin: 0;
 Font-size: 12px;
 Font-weight: bold;
 width: 100%;
 z-index: 90;
}

.log{
 text-align: end;
 border-bottom: .5px solid rgb(255, 255, 255,.3);
 overflow: hidden;
}

.log button{
 background-color: transparent;
 color: #fff;
 padding: .2rem .5rem;
 margin-bottom: .3rem;
 border: 1.5px solid gold;
 border-radius: 5px;
}

.nav-items{
 display: flex;
 Justify-content: space-between;
 align-items: center;
 margin: .5rem ;
}

.brand-name{
 position: sticky;
 top: 0;
 display: flex;
 Font-size: 25px;
 align-items: center;
 Animation: fadeBrand 2s linear forwards; 
 overflow: hidden;  
 
 & a{
   Color: #bb914a;
   text-decoration: none;
 }
}

@keyframes fadeBrand{
from{
Opacity: 0;
}
to{
Opacity: 1;
}
}

.trade a{
Color:#fff;
Font-weight: bolder;
}

ul{
display: flex;
Align-items: center;
} 

li{
 display: block;
list-style: none;
margin-left: 1rem;
padding: .5rem;
Color: #fff;
}

li:hover{
 color: #8A6E2F;
 cursor: pointer;
}
li a{
 text-decoration: none;
 color: #fff;
}

li a:hover{
 color: #8A6E2F;
 cursor: pointer;
}
.login{
 display: none;
Border:1px solid gold;
Padding: 0.4rem 0.4rem;
Border-radius: 5px;
}

nav .container{
 display: none;
 position: absolute;
 width: 100%;
}

ul .about:hover .container,
ul .about:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr !important;
 background-color: #0c164a;
 color: #fff;
 text-align: center;
 margin-top: 0.5rem;
 padding: 1rem .5rem;
 left: 0;
 width: 100vw !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 1000;
 cursor: pointer;
}

.container .one:hover{
 color: #fff !important;
}

.container .two:hover{
 color: #fff !important;
}

li .container div{
 border-right: 1px solid white;
 width: 100% !important;
 padding: .2rem;
}

.container .one h1, h3{
 margin-bottom: .5rem;
 font-size: 28px;
}

.container .one p{
 font-size: 12px;
 line-height: 25px;
}

.container .two h1, h2, h3{
 margin: 1.5rem 0;
 font-size: 20px;
 text-align: center;
 border-bottom: 1px solid white;
}

.container .three h1{
 margin-bottom: .5rem;
 font-size: 20px;
 text-align: center;
 border-bottom: 1px solid white;

}

.container .three div{
 border: none;
}

.container ul{
 display: block;
 text-align: center;


 & li{
   margin-bottom: .5rem;
   margin-top: .5rem;
 }
}

.container li{
 cursor: pointer;
 color: #8A6E2F;
}

.container .two li:hover{
 color: #8A6E2F;
}

.container .two li:hover{
 color: #8A6E2F;
}

ul .about:hover .container,
ul .about:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 justify-content: center;
 text-align: center;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem 0rem;
 left: 0;
 width: 100% !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;

 & h1{
   width: 100%;
 }

 & img{
   width: 100%;
 }
}

ul .about:hover .container .two ul{
 display: inline;
 width: fit-content !important;
 text-align: center;
 justify-content: center;
 padding: 0.5rem;

 & li{
   font-size: 10px;
   margin: 0;
 }
}

ul .Product:hover .container,
ul .Product:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 justify-content: center;
 text-align: center;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem 0rem;
 left: 0;
 width: 100% !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;

 & h1{
   width: 100%;
 }

 & img{
   width: 100%;
 }
}

ul .Product:hover .container .two ul{
 display: inline;
 width: fit-content !important;
 text-align: center;
 justify-content: center;
 padding: 0.5rem;

 & li{
   font-size: 10px;
   margin: 0;
 }
}

ul .tools:hover .container,
ul .tools:focus-within .container  {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem .5rem;
 left: 0;
 width: 100vw !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;
}

ul .tools:hover .container ul{
 display: inline;
 text-align: center;
 padding-inline: auto;
 padding: 0 !important;
}

.header{
 background-image: url("https://multicopytrade.com/assets/newfront/images/leaderboard/img-globebg.png");
 background-repeat: no-repeat;
 background-size: 60%;
 background-position-x: right;
 padding-top: 6rem;
 padding-bottom: 8rem;
 min-height: 100vh;

 & .head_text{
  background-image: linear-gradient(to left, rgba(29, 45, 120, 0.8) , rgb(12, 22, 74) );
  height: 30vh;

  & h1{
    color: #8A6E2F;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 3rem;
    font-weight: 200;
   }
  
   & p{
    color: #fff;
    padding-inline: 2rem;
    font-size: 13px;
    line-height: 27px;
   }
 }

 .container{
  display: grid;
  margin: 0;
  color: #000;
  
  & .items{
    align-items: center;
  }

  & .items_body{
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgb(30, 83, 229, .2);
    border-radius: 20px;
    height: fit-content;
    cursor: pointer;
  }

  & .items_body:hover{
    background-color: rgb(238, 236, 236);
  }

  & .head{
    display: flex;
    align-items: center;

    & img{
      border-radius: 100%;
      height: 25%;
      width: 25%;
      margin-right: 1rem;
    }

    & h4{
      color: #bb914a;
      font-size: 13px;
      font-weight: 600;
    }

    & p{
      color: gray;
      font-size: 13px;
      margin-top: .3rem;
    }
  }

  & p{
    color: #000;
    text-shadow: 0 0 5px rgb(0, 0, 0, .2);
  }

  & .article{
    line-height: 19px;
    margin-top: 2rem;
    font-size: 15px;

    & p{
      color: rgb(0, 0, 0, .6);
      padding: 1rem;
      text-shadow: 0 0 5px rgb(0, 0, 0, .2);

      & span{
        color: #000;
        font-weight: 600;
        font-size: 14px;
        text-shadow: 0 0 5px rgb(0, 0, 0, .2);
      }
    }
  }
 }

 & h3{
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(57, 73, 151) );
  color: #fff;
  margin-top: 3rem;
  font-weight: 200;
 }
}

.map{
 margin: -5rem;
 & p{
   padding: 8rem 1rem;
   background-color: #0c164a;
   color: rgb(255, 255, 255, .7);
   font-size: 14px;
 }
}

footer{
 background-color: #0c164a;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 width: 100%;


 & ul{
   margin: 1rem 3rem 0 -5rem;
 }

 & a{
   font-size: calc((10px) + .5vw);
   position: relative;
 }
}

footer a::after{
 content: '';
 position: absolute;
 bottom: -3px;
 left: 0;
 border: 1px solid  #1E53E5;
 width: 100%;
}

footer .bottom{
 text-align: left;
 display: grid;
 padding-left: 2rem;
}

footer .brand_name{
 display: flex;
 Font-size: 16px;
 align-items: center;
 Color: #bb914a;;

 & .trade{
   font-weight: bold;
   color: #fff;
 }
}

footer .copyright{
 color: rgb(255, 255, 255, .7);
 font-size: 14px;
 margin-block: 2rem;
}







@media (min-width: 50rem){
 footer .bottom{
   display: flex;
   margin-right: 2rem;
   align-items: center;
   justify-content: space-between;
 }

}

.container .items{

  @media (min-width: 35rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   @media (min-width: 900px) {
    padding-inline: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
   }

   @media (min-width: 1200px) {
    padding-inline: 12rem !important;
   }
  }



@media (max-width: 50rem) {
 nav{
   width: 100vw;
 }
 .log{
   display: none;
 }
 .login{
   display: block;
   font-size: 10px;
   margin-top: .5rem;
 }
 .brand-name{
   font-size: 30px;
   width: 100vw;
   margin-block: -1rem;
   justify-content: center;
   border-bottom: 1px solid rgb(255, 255, 255, .2);
 }
 .nav-items{
   display: grid;
   grid-template-columns: 1fr;
   justify-content: center;
 }
 .nav-items ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: start;
   text-align: left;
   margin-top: .5rem;
   padding: .5rem;
 }
 ul li{
   font-size: 12px;
   margin-left: 1rem;
 }
}  