*{
  Box-sizing: border-box;
  Margin: 0;
  Padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar{
  background-color: #04106a;
  width: 8px;
  border-radius: 8px;
}

*::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px rgb(255, 255, 255, .5);
}

*::-webkit-scrollbar-thumb{
  background-color: #ad8017;
  border-radius: 10px;
}

button:hover,
a:hover{
  cursor: pointer;
}

body {
  overflow-x: hidden;
  width: 100%;
}

nav{
  position: fixed;
  left: 0;
  display: grid;
  align-items: center;
  background-color: #0c164a;
  Padding: 0.6rem 0.5rem;
  Margin: 0;
  Font-size: 12px;
  Font-weight: bold;
  width: 100%;
  z-index: 90;
}

.log{
  text-align: end;
  border-bottom: .5px solid rgb(255, 255, 255,.3);
  overflow: hidden;
}

.log button{
  background-color: transparent;
  color: #fff;
  padding: .2rem .5rem;
  margin-bottom: .3rem;
  border: 1.5px solid gold;
  border-radius: 5px;
}

.nav-items{
  display: flex;
  Justify-content: space-between;
  align-items: center;
  margin: .5rem ;
}

.brand-name{
  position: sticky;
  top: 0;
  display: flex;
  Font-size: 25px;
  align-items: center;
  Animation: fadeBrand 2s linear forwards; 
  overflow: hidden;  
  
  & a{
    Color: #bb914a;
    text-decoration: none;
  }
}

@keyframes fadeBrand{
from{
Opacity: 0;
}
to{
Opacity: 1;
}
}

.trade a{
Color:#fff;
Font-weight: bolder;
}

ul{
 display: flex;
 Align-items: center;
} 

li{
  display: block;
list-style: none;
margin-left: 1rem;
padding: .5rem;
Color: #fff;
}

li:hover{
  color: #8A6E2F;
  cursor: pointer;
}
li a{
  text-decoration: none;
  color: #fff;
}

li a:hover{
  color: #8A6E2F;
  cursor: pointer;
}
.login{
  display: none;
Border:1px solid gold;
Padding: 0.4rem 0.4rem;
Border-radius: 5px;
}

nav .container{
  display: none;
  position: absolute;
  width: 100%;
}

ul .about:hover .container,
ul .about:focus-within .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0c164a;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
  padding: 1.5rem 0rem;
  left: 0;
  width: 100% !important;
  height: fit-content;
  border-top: 1px solid rgb(255, 255, 255, .3);
  cursor: pointer;
  z-index: 50;

  & h1{
    width: 100%;
  }

  & img{
    width: 100%;
  }
}

ul .about:hover .container .two ul{
  display: inline;
  width: fit-content !important;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;

  & li{
    font-size: 10px;
    margin: 0;
  }
}
.container .one:hover{
  color: #fff !important;
}

.container .two:hover{
  color: #fff !important;
}

li .container div{
  border-right: 1px solid white;
  width: 100% !important;
  padding: .2rem;
}

.container .one h1, h3{
  margin-bottom: .5rem;
  font-size: 28px;
}

.container .one p{
  font-size: 12px;
  line-height: 25px;
}

.container .two h1, h2, h3{
  margin: 1.5rem 0;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid white;
}

.container .three h1{
  margin-bottom: .5rem;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid white;

}

.container .three div{
  border: none;
}

.container ul{
  display: block;
  text-align: center;


  & li{
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
}

.container li{
  cursor: pointer;
  color: #8A6E2F;
}

.container .two li:hover{
  color: #8A6E2F;
}

ul .Product:hover .container,
ul .Product:focus-within .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0c164a;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: 0.5rem;
  padding: 1.5rem 0rem;
  left: 0;
  width: 100% !important;
  height: fit-content;
  border-top: 1px solid rgb(255, 255, 255, .3);
  cursor: pointer;
  z-index: 50;

  & h1{
    width: 100%;
  }

  & img{
    width: 100%;
  }
}

ul .Product:hover .container .two ul{
  display: inline;
  width: fit-content !important;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;

  & li{
    font-size: 10px;
    margin: 0;
  }
}

ul .tools:hover .container,
ul .tools:focus-within .container  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #0c164a;
  color: #fff;
  margin-top: 0.5rem;
  padding: 1.5rem .5rem;
  left: 0;
  width: 100vw !important;
  height: fit-content;
  border-top: 1px solid rgb(255, 255, 255, .3);
  cursor: pointer;
  z-index: 50;
}

ul .tools:hover .container ul{
  display: inline;
  text-align: center;
  padding-inline: auto;
  padding: 0 !important;
}


.header{
  position: relative;
  display: flex;
  background-image: url(https://multicopytrade.com/assets/newfront/forex-trading.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;   
  Background-color: grey;
  Justify-content: space-between;
  align-items: center;
  padding-top: 11rem;
  padding-inline: 7rem;
  width: 100vw;
} 

.header .text{
Padding: 0rem 0rem 1rem 0rem;
}

.text h1{
Display: grid;
font-size: 27px;
Text-align: start;
Margin-bottom: 2rem;
Color:#fff;
}

.text p{
Display: grid;
font-size: small;
Text-align: start;
Margin-bottom: 2rem;
Color:#fff;
}

.button{
Text-align: start ;
}

.button button{
Padding: .7rem 2rem;
Margin: 0 0.3rem;
Color: blue;
background: radial-gradient(ellipse farthest-corner at right      
bottom, #FEDB37 10%, #FDB931 8%, #9f7928 40%, #8A6E2F 40%, 
transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, 
#FFFFAC 6%, #D1B464 9%, #5d4a1f 62.5%, #5d4a1f 100%);
Font-weight: bold;
Font-size: 12px;
Border: none;
outline: none;
Border-radius: 5px;
}

.button button:hover{
  background: radial-gradient(ellipse farthest-corner at right      
bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, 
transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, 
#FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.header-img{
  display: none;
}

.social{
Display: flex;
Margin: 0rem 1rem;
justify-content: space-between;
width: 100vw !important;
}

.social div{
Display: grid;
width: 42%;
height: 5rem;
margin-top: 4rem;
place-content: center;
Font-weight: bolder;
Text-align: center;
Background-color:#04106a;
Padding:3rem .5rem; 
Border: none;
Border-radius: 8px;

& img{
  margin-inline: auto;
  padding-top: 1rem;
}


@media (min-width: 50rem) {
&  img{
    width: 20% !important;
    margin-top: .5rem;
  }
}
}

.social h3{
  display: inline;
  Color: gold;
  Font-size: 16px;
  border: none;
  margin-block: .5rem;
}

.social p{
  display: none;
Color: #fff;
Font-size: 12px;
Font-weight: bold;
}

section{
  width: 100vw;
}

.tradingview-widget-container{
  display: flex;
  margin: auto !important;
  padding-inline: 1rem !important;
  overflow: hidden;
}

iframe{
  padding-inline: 1rem !important;
  width: 100vw !important;
  margin: auto !important;
  overflow: hidden;
}

.tape-N_kypjt9 {
    animation-duration: 35.9871s;
    animation-name: ticker-tape-scroll--JoI3;
}
.tape-N_kypjt9 {
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    display: flex;
    flex: 0 0 auto;
}

article{
Background-color: #20253f;
Padding: 4rem 1rem 0 1rem;
width: 100vw ;
overflow: hidden;
}

Article h1{
Color: gold;
Font-size: 30px;
Margin: 1rem 0;

}

Article p{
Color: #fff;
Margin: 1rem 0 2rem 0;


}

Article .listAbt{
Display: grid;
Grid-template-columns: 30% 30% 30%;
width: 100vw;
Text-align: center;
margin-inline: auto;
overflow: hidden;
}

Article .listAbt p{
Background-color:rgb(0%, 0%, 54.5%);
Font-weight: bold;
Border:1px solid gold;
font-size: 12px;
Border-radius: 5px;
Padding: 0.2rem 0rem;
Margin: 0.5rem;
width: 100% !important;

}

.pics{
  width: 50vw;
  overflow: hidden;
}

.mixed-icon{
  width: 20%;
  Animation: fadeInFrom 0.8 linear forwards , floating1 ease 9s  
  infinite
}

.earnflt{
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  width: 100%;
}

.earn{
Padding: 2rem 1rem;
}

.earn h1{
color: #5d4a1f;
Margin-bottom: 1rem;
Font-size: 30px;
font-weight: 200;
}

.earn p{
Font-size: 14px;
} 

@keyframes fadeInFrom{
  from{
  Opacity: 0;
  Transform: translateX(-20px);
  }
  to{
  Opacity: 1;
  Transform: translateX(0);
  }
  }
  
  @keyframes floating1{
  0%{
  Transform: translate(70%, 0%) rotate(360deg);
  }
  25%{
  Transform: translate(82%, 3%) rotate(360deg);
  
  }
  
  50%{
  Transform: translate(100%, 10%) rotate(360deg);
  
  }
  
  75%{
  Transform: translate(82%, 3%) rotate(360deg);
  }
  
  100%{
  Transform: translate(70%, 0%) rotate(360deg);
  }
  }

.floating{
  display: grid !important;
  grid-template-columns: 1fr 1fr;
Position: relative;
Height: 40vh;
width: 100% !important;
}

.floating0{
Position: absolute;
Left: 10%;
Top: 60%;
Width: 7rem;
Height: 9rem;
Background-color:rgb(0%, 0%, 54.5%);
Border-radius: 10px;
Color: #fff;
Animation: fadeInFromTop 0.8 linear forwards , floating ease 4s  
infinite;
}

.floating1{
Position: absolute;
Right : 10%;
Top : 49%;
Transform: translate(-50%);
Width: 7rem;
Height: 9rem;
Background-color:rgb(0%, 0%, 54.5%);
Border-radius: 10px;
Color: #fff;
Animation: fadeInFromTop 0.8 linear forwards , floating ease 4s  
infinite;
z-index: 10;
}

.floating2{
Position: absolute;
Left : 40%;
Top : 10%;
Transform: translate(-50%);
Width: 7rem;
Height: 9rem;
Background-color:rgb(0%, 0%, 54.5%);
Border-radius: 10px;
Color: #fff;
Animation: fadeInFromTop 0.8 linear forwards , floating ease 4s  
infinite;
z-index: 10;
}

@keyframes fadeInFromTop{
from{
Opacity: 0;
Transform: translateX(-20px);
}
to{
Opacity: 1;
Transform: translateX(0);
}
}

@keyframes floating{
0%{
Transform: translate(0%, 0%) rotate(360deg);
}
25%{
Transform: translate(10%, 5%) rotate(360deg);

}

50%{
Transform: translate(25%, 10%) rotate(360deg);

}

75%{
Transform: translate(13%, 5%) rotate(360deg);
}

100%{
Transform: translate(0%, 0%) rotate(360deg);
}
}


.floating0 h1{
Text-align: left;
Margin: 0.5rem 0rem;
Padding-inline: 0.5rem;
Font-size: 20px;
}

.floating0 p{
Text-align: start;
Margin: 0.5rem 0.5rem;
Color: gold;
Font-size:15px;
Font-weight: bold;
}

.floating1 h1{
Text-align: left;
Margin: 0.5rem 0rem;
Padding-inline: 0.5rem;
Font-size: 20px;
}

.floating1 p{
Text-align: start;
Margin: 0.5rem 0.5rem;
Color: gold;
Font-size:15px;
Font-weight: bold;
}

.floating2 h1{
Text-align: left;
Margin: 0.5rem 0rem;
Padding-inline: 0.5rem;
Font-size: 20px;
}

.floating2 p{
Text-align: start;
Margin: 0.5rem 0.5rem;
Color: gold;
Font-size:15px;
Font-weight: bold;
}

.floating img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  Animation: fadeInFromTop 0.8 linear forwards , floating2 ease 4s  
  infinite;
}

.floating .fltImg1{
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 5;
}

.floating .fltImg2{
  position: absolute;
  left: 40%;
  top: 55%;
  z-index: 5;
}

.floating .fltImg3{
  position: absolute;
  left: 70%;
  top: 5%;
}

.floating .fltImg4{
  position: absolute;
  left: 70%;
  top: 95%;
}


@keyframes fadeInFromTop{
  from{
  Opacity: 0;
  Transform: translateX(-20px);
  }
  to{
  Opacity: 1;
  Transform: translateX(0);
  }
  }
  
  @keyframes floating2{
  0%{
  Transform: translate(-5%, -3%) rotate(360deg);
  }
  25%{
  Transform: translate(-10%, -5%) rotate(360deg);
  
  }
  
  50%{
  Transform: translate(-15%, -8%) rotate(360deg);
  
  }
  
  75%{
  Transform: translate(-10%, -5%) rotate(360deg);
  }
  
  100%{
  Transform: translate(-5%, -3%) rotate(360deg);
  }
  }
.certificate1{
  display: none;
}
.certificate{
Margin:1rem 0rem;
}

.certificate p{
Font-size:14px;
Margin: 1rem 0;
}

.certificate button{
Width: 100%;
background: radial-gradient(ellipse farthest-corner at right      
bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, 
transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, 
#FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
color:rgb(0%, 0%, 54.5%);
Padding: 0.8rem;
Font-size: 18px;
Font-weight: bold;
border: none;
border-radius: 5px;
}

.gh-background-video1{
  width: 100%;
  margin-top: 1.5rem;
  aspect-ratio: 20/9;
}

.container-slider{
  width: 95%;
  margin-inline: auto;
  overflow: hidden;

}

.container-slider h1{
  text-align: center;
  margin-top: 1.5rem;
  color: #8A6E2F;
  font-weight: 300;
}

.container-slider .slide-items{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 3rem 0;
  Animation: fade 0.8 linear forwards , float ease 10s  
  infinite;
}

@keyframes fade{
  from{
  Opacity: 0;
  Transform: translateX(200px);
  }
  to{
  Opacity: 1;
  Transform: translateX(20px);
  }

  }

  @keyframes float {
    0%{
      transform: translate( 0px, 0);
    }
    25%{
      transform: translate( 50px, 0);
    }
    50%{
      transform: translate( 100px, 0);
    }
    100%{
      transform: translate( 0, 0);
    }

  }

  .container-slider .slide-items div{
  width: 100%;
  border-radius:0 0 10px 10px;
  box-shadow: 0px 2px 2px rgb(128, 128, 128, .4);
  margin-right: 2rem;
}

.container-slider .slide-items div .hv{
  display: none;
  border-top: 7px solid #5d4a1f;

  & h1{
    text-align: center;
    font-weight: 900;
  }

  & button{
    display: block !important;
    text-align: center;
    width: 100%;
  }

  & button:hover{
    background-color: #8A6E2F;
    font-weight: 900;
  }
}

.container-slider .slide-items .Acc:hover h5{
  display: none;
}

.container-slider .slide-items .Acc:hover div{
  display: none;
  transition: ease 3s;
}

.container-slider .slide-items div .hv:hover{
  animation: slide .5s;
}

@keyframes slide{
  0%{
    opacity: 0.5;
    transform: translate(0, 30px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}

.container-slider .slide-items div:hover .hv{
  display: block;
  transition: ease-in 3s;
  box-shadow: none !important;
}

.container-slider .slide-items div:hover .hv div{
  display: block;
  box-shadow: none !important;
}


.container-slider .slide-items div h5{
  border-radius: 10px 10px 0 0;
  color: #5d4a1f;
  font-weight: 600;
  font-size: 25px
}

.container-slider .slide-items div p{
  color: green;
}

.container-slider .slide-items div div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  text-align: center;
  padding: .5rem;
  background-color: #fff;


  & button{
    margin: .5rem;
    border-radius: 5px;
    border: none;
    padding: .5rem;
    background-color: red;
    color: #fff;
    font-weight: 700;
  }

  & :nth-child(4){
    background-color: green;
  }
}

.container-slider .slide-items h5{
  color: #fff;
  text-align: center;
  padding-top: 1.5rem;
  height: 4rem;
}

.secondS{
  width: 100vw;
  text-align: center;
  padding: 1.5rem 0;
  background-color: rgb(107, 118, 171, .09);

}

.secondS button{
  border: none;
  margin-inline: .5rem;
}

.secondS a{
  text-decoration: none;
  color: #4b558b;
  background-color: #fff;
  font-weight: 800;
  padding: .5rem 1rem;
  border: 1px solid #8A6E2F;
  border-radius: 20px;
}

.secondS a:focus,
.secondS a:focus-within,
.secondS a:hover{
  background-color: #04106a;
  color: #fff;
  font-weight: 800;
  border: none;
}

.secondS h1{
  margin-bottom: 2rem;
  color: #a0762f;
}


@keyframes shift{
  0%{
    opacity: 0;
  }
  100%{

    opacity: 1;
  }
}

@keyframes shift1{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.secondS .slider{
  width: 100vw;
  height: fit-content;
}

.secondS .slide-row{
  display: grid;
  padding: 2rem;
  width: 100vw;
  height: fit-content;
  text-align: center;
  font-size: 18px;
  display: flex;
  z-index: -1;
  overflow: hidden;
}



.secondS .slider .img1{
  align-items: center;
  width: 100vw;
  height: 100%;
  animation: fade- infinite 6s;
  overflow: hidden;

  & .img1-text{
    text-align: left;
    margin-inline: 2rem;
  }
}

.secondS .slider .img1 p{
  font-size: 14px;
}

.secondS .slider .img2{
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100%;
  animation: fade2 infinite 6s;
  overflow: hidden;
}

.secondS .img2-text{
  margin-top: -90px;
  text-align: left;
  width: 100vw ;

  & p{
    font-size: 14px;
  }
}

.secondS .fourStep{
  display: grid;
  grid-template-columns: 6% 94%;
  text-wrap: wrap;
  width: 100%;
  align-items: stretch;
  text-align: left;

  & :nth-child(1) *{
    text-align: justify;
    margin: 0rem 2rem 0 0 !important;
    font-size: 46px;
  }

  & h3{
    text-align: left;
    margin-top: 10px !important;
    margin-bottom: .7rem;
    border: none;
  }

  & p{
    font-size: 14px;
    margin-bottom: .5rem !important;
  }
}

.flt{
  position: relative;

}

.SubImg{
  position: absolute;
  top: 9%;
  left: 55%;
  animation: sub 5s linear infinite;
}

.SubImg1{
  position: absolute;
  top: 40%;
  left: 5%;
  animation: sub1 5s linear infinite;
}

@keyframes sub{
  0%{
    top: 9%;
    left: 75%;
  }
  50%{
    top: 7%;
    left: 80%;
  }
  100%{
    top: 9%;
    left: 75%;
  }
}


@keyframes sub1{
  0%{
    top: 44%;
    left: 5%;
  }
  50%{
    top: 40%;
    left: 7%;
  }
  100%{
    top: 44%;
    left: 5%;
  }
}

.SubImg2{
  position: absolute;
  top: 14%;
  left: 48%;
  animation: sub3 5s linear infinite;
}

.SubImg3{
  position: absolute;
  top: 40%;
  left: 20%;
  animation: sub4 5s linear infinite;
}

@keyframes sub3{
  0%{
    top: 14%;
    left: 65%;
  }
  50%{
    top: 19%;
    left: 68%;
  }
  100%{
    top: 14%;
    left: 65%;
  }
}

@keyframes sub4{
  0%{
    top: 40%;
    left: 30%;
  }
  50%{
    top: 44%;
    left: 27%;
  }
  100%{
    top: 40%;
    left: 30%;
}
}

.ctas-section-container{
  background-color: #04106a;
  margin-bottom: 5rem;
}
.tradingview-widget-copyright {
  font-size: 13px !important;
  line-height: 32px !important;
  text-align: center !important;
  vertical-align: middle !important;
  /* @mixin sf-pro-display-font; */
  font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
  color: #B2B5BE !important;
}

.tradingview-widget-copyright .blue-text {
  color: #2962FF !important;
}

.tradingview-widget-copyright a {
  text-decoration: none !important;
  color: #B2B5BE !important;
}

.tradingview-widget-copyright a:visited {
  color: #B2B5BE !important;
}

.tradingview-widget-copyright a:hover .blue-text {
  color: #1E53E5 !important;
}

.tradingview-widget-copyright a:active .blue-text {
  color: #1848CC !important;
}

.tradingview-widget-copyright a:visited .blue-text {
  color: #2962FF !important;
}

.plans div{
  text-align: center;
}

.standardBody{
  display: grid;
}

.advancedBody{
  display: none;
}

.BTCBody{
  display: none;
}

.NFTBody{
  display: none;
}

.plans button{
  margin-inline: -2.5px;
  padding: .3rem 1rem;
  font-weight: 600;
}

.plans button:hover,
.plans button:focus,
.plans button:focus-within{
  background-color: rgb(30, 83, 229, .2);
  color: #0b1c71;
  border: 2px solid rgb(11, 28, 113);
}

.plans .container-body{
  grid-template-columns: 1fr 1fr 1fr;
  animation: plan 500ms linear;
}

@keyframes plan{
  0%{
    opacity: 0;
    transition: ease-out 550ms;
  }
  100%{
    opacity: 1;
    transition: ease-out 150ms;
  }
}

.plans .container:hover{
    transform: scale(1.02);
    transition: ease-out 250ms;
}

.plans .container{
  width: 100%;
}

.plans .container div{
  max-height: 29rem;
  margin: .8rem;
  justify-content: center;
  border: 1px solid rgb(30, 83, 229, .2) ;
  box-shadow: -1px 1px 10px 2px rgb(0, 0, 0, .1);
  border-radius: 5px !important;
  overflow: hidden;


  & h1{
    display: block;
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 16px;

  }

  & h2{
    background-color: #04106a;
    color: #fff;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
  }

  & button{
    position: relative;
    background-color: #e0b551;
    color: #04106a;
    font-weight: 800;
    padding: .5rem .5rem;
    margin-bottom: 3rem;
    outline: none;
    border: none;
    border-radius: 5px;
  }

  & button::before{
    content: "";
    position: absolute;
    height: .5px;
    width: 100vw;
    top: -.5rem;
    right: -20px;
    background-color: rgb(0, 0, 0, .2);
  }

  & button::after{
    content: "";
    position: absolute;
    height: .5px;
    width: 100vw;
    bottom: -.5rem;
    right: -20px;
    background-color: rgb(0, 0, 0, .2);
  }

  & .p{
    border: none;
    box-shadow: none;
    text-align: left;
    margin-top: 0;
    width: 100%;
    padding-left: 15%;
  }

  & p{
    position: relative;
    display: block;
    font-size: 14px;
    margin-bottom: .5rem;
    padding-inline: 1rem;
  }

  & p::before{
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    background-color: black;
    font-size: 32px;
    height: 6px;
    width: 6px;
    font-weight: 800;
    border-radius: 50% !important;
  }
}

#experts{
    background-image: url(/image/bg-ib-section-mobile.png);
    background-size: cover;
    background-position: center;
    aspect-ratio: 16/11;
    max-height: 70vh;
}

.experts{
  width: 100%;
  padding: 2rem;
  aspect-ratio: 16/11;

  & h1{
    color: #8A6E2F;
    font-size: calc((30px + 3vw) - 20px);
    font-weight: 200;
  }

  & h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    border: none;
  }

  & p{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }
}

.achievement{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #0c164a;
  padding-block: 2rem;
  width: 100%;

  & div{
    padding: 1rem;
  }

  & h1{
    color: #5d4a1f;
    text-align: center;
    font-size: 26px;
  }

  & p{
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin-top: .5rem;
  }
}

.guideline{
  background-color: #fff;
  text-align: center;
  padding: 9rem .5rem 7rem .5rem;

  & h1{
    font-size: 29px;
    color: #8A6E2F;    
  }

  & p{
    color:#20253f;
    font-size: 14px
  }

  & img{
    width: 30%;
    transition: ease-out 250ms;
  }

  & img:hover{
    transform: scale(1.05);
    transition: ease-in 250ms;
    cursor: pointer;
  }

  & h2{
  
  }
}

.advantage{
  text-align: center;
  background-color: #04106a;

  & h1{
    color: #5d4a1f;
    font-size: 30px;
    padding-top: 3rem;
  }

  & h2{
    color: #8A6E2F;
    font-weight: 100;
    text-align: left;
    margin-inline: 2rem;
    border: none;
  }

  & ul{
    text-align: left;
    margin-bottom: 6rem;
  }

  & li{
    margin: 0;
    margin-inline: 1.6rem;
    color: #fff;
    font-weight: 600;
  }
}
.advantage .container{
  position: relative;
  width: 100vw;
}

.advantage .slider{
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  text-align: center;
  width: 100vw;
  scroll-snap-type: none;
  scroll-behavior: smooth;
  scrollbar-width: 100vw;
  transition: ease 250ms;
}

.advantage .slider::-webkit-scrollbar{
  display: none;
}

.advantage .container-slide{
  width: 100vw;
  box-shadow: 0px 0px 27px 0px rgba(111, 127, 210, 0.3) ;
}

.advantage .container .indication{
  position: absolute;
  bottom: 4%;
  left: 50%;
  align-items: center;
  transform: translate(-50%);
  display: flex;
  bottom: 4%;
  left: 50%;
}

.advantage .container span{
  position: relative;
  width: 9px;
  height: 9px;
  background-color: none;
  margin: .5rem;
  border-radius: 50%;
  align-items: center;

  & a{
    position: absolute;
    background-color: gray;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    z-index: 3;
    cursor: pointer;
  }
}

.advantage span a:focus-within,
.advantage span a:focus-visible,
.advantage span a:active{
  width: 20px;
  height: 6px;
  top: 50%;
  background-color: white;
  border-radius: 3px;
}

.advantage .container-slide:hover img{
  width: 49% ;
  top: -8rem;
  left: -6%;
}

.advantage h2{
  margin-top: 6rem;
}

.advantage li{
  font-size: 12px;
  font-weight: 100;
}

.advantage .desc-list :nth-child(2),
.advantage .desc-list :nth-child(3),
.advantage .desc-list :nth-child(4),
.advantage .desc-list :nth-child(5){
  display: none ;
}

.advantage #no1,
.advantage #no2,
.advantage #no3,
.advantage #no4{
  position: relative;
}

.advantage  img{
  position: absolute;
  top: -8rem;
  left: 5%;
  width: calc((78%) - 2.5vw) ;
  padding-top: -0rem;
  z-index: 800;
}

.advantage .container-slide:hover{
  background-color: #fff;

  & h2{
    display: none;
  }

  & li{
    color: #0b1c71;
    margin-top: 5rem;
  }

}



.security article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  align-items: center;
  max-height: fit-content;
  padding: 4rem 1rem;


  & img{
    width: 80%;
  }

  & h1{
    color: #8A6E2F;
    font-size: 37px;
  }

  & h2{
    text-align: left;
    color: #0c164a;
    font-size: 25px;
    font-weight: 200;
  }

  & p{
    color: #04106a;
    font-size: 16px;
  }
}

.liquidity{
  position: relative;
  background-color: #0c164a;

  & h1{
    color: #5d4a1f;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    padding-block: 1rem;
  }

  & p{
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding-bottom: 1rem;
  }
}

.liqSlide{
  position: relative;
  background-color: #0c164a !important;
  height: 30vh;
  overflow: hidden;
}

.liqSlide .container-bd{
  position: relative;
  background-color: red;
  animation: liquid 4s linear infinite;
}

@keyframes liquid{
  0%{
    left: -1%;
  }
  100%{
    left: -11%;
  }
}

.liqSlide .container span{
  position: absolute;
  left: 2%;
  width: 23%;
  height: 4rem;
  margin: .5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgb(24, 72, 204, .4);
}

.liqSlide .container2 span{
  position: absolute;
  left: 27%;
  width: 23%;
  height: 4rem;
  margin: .5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgb(24, 72, 204, .4);
}

.liqSlide .container3 span{
  position: absolute;
  left: 52%;
  width: 23%;
  height: 4rem;
  margin: .5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgb(24, 72, 204, .4);
}

.liqSlide .container4 span{
  position: absolute;
  left: 77%;
  width: 23%;
  height: 4rem;
  margin: .5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgb(24, 72, 204, .4);
}

.liqSlide .container5 span{
  position: absolute;
  left: 102%;
  width: 23%;
  height: 4rem;
  margin: .5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgb(24, 72, 204, .4);
}

.liqSlide .container-bd-2{
  position: relative;
  background-color: red;
  animation: liquid2 4s linear infinite;
}

@keyframes liquid2{
  0%{
    left: -15%;
    top: 30%;
  }
  100%{
    left: -1rem;
    top: 30%;
  }
}

.liqSlide .container-bd-3{
  position: relative;
  background-color: red;
  animation: liquid3 4s linear infinite;
}

@keyframes liquid3{
  0%{
    left: -1%;
    top: 62%;
  }
  100%{
    left: -11%;
    top: 62%;
  }
}

.what-peope article{
  background-color: #04106a;
  padding: 0;
  padding: 1rem;

  & h1{
    font-size: 35px;
  }
}

.what-peope .container{
  position: relative;
  background-color: #fff;
  min-height: 50vh;
  margin: 1rem;
  overflow: hidden;
}


.slide .items{
  position: absolute;
  left: -15%;
  top: 5%;
  transform: translate(-50%);
  width: 60%;
  min-height: 250px;
  background-color: rgb(128, 128, 128, .1);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 rgb(128, 128, 128, .8);
}

.slide .items:nth-child(2){
  left: calc(48%);
}

.slide .items:nth-child(3){
  left: calc((52%) + 58%);
}

.slide .items:nth-child(4){
  left: calc((52%) + 116%);
}

.what-peope .container .button{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

.items .title{
  display: flex;
  align-items: center;
  margin: 1rem;

  & img{
    border-radius: 10px;
    margin-right: 1rem;
    height: 8%;
  }

  & h1{
    color: #8A6E2F ;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  & p{
    font-size: 16px;
    color: gray;
  }
}

.items p{
  margin: 1rem;
  font-size: 14px;
}

.map{

  & p{
    padding: 4rem 1rem;
    background-color: #0c164a;
    color: rgb(255, 255, 255, .7);
    font-size: 14px;
  }
}

footer{
  background-color: #0c164a;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  & ul{
    padding: 0 0 3.5rem 3rem;
  }

  & a{
    font-size: calc((10px) + .9vw);
    position: relative;
  }
}

footer a::after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  border: 1px solid  #1E53E5;
  width: 100%;
}

footer .bottom{
  text-align: left;
  display: grid;
  padding-left: 2rem;
}

footer .brand_name{
  display: flex;
  Font-size: 16px;
  align-items: center;
  Color: #bb914a;;

  & .trade{
    font-weight: bold;
  }
}

footer .copyright{
  color: rgb(255, 255, 255, .7);
  font-size: 14px;
  margin-block: 2rem;
}




@media (min-width: 1200px) {
  .guideline .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important ;
  }

  .advantage .slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    justify-content: center;
    padding-inline: 12rem;
    overflow: hidden;
    width: 100vw;
  }
  
  .advantage .container-slide{
    margin: .5rem;
    width: 20vw !important; 
  } 
  
  .advantage  img{
    position: absolute;
    top: -4rem !important;
    left: 5%;
    width:78% ;
    z-index: 1;
  }

   .advantage .indication{
    display: none !important;
  }

  .liquidity{
    & h1{
      font-size: 39px;
      padding-top: 6.5rem;
  }

  & p{
    padding-bottom: 4rem;
  }
}
}



@media (min-width: 50rem){
  .secondS .slide-row{
    padding-inline: calc(1rem) .5rem;
    width: 100vw;
    height: fit-content;
  }

  .secondS .slider .img1{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 0vw;
    overflow: hidden;

    & img{
      margin-top: 5rem;
    }
  }

  .secondS .slider .img2{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100vw;
    height: fit-content;
    animation: fade2 linear infinite 6s;
    overflow: hidden;
  }

  .secondS .slider #phone{
    margin-top: 3rem;
  }

.secondS .img1-text{
    text-align: left;
    width: 100%;
    grid-row: 1/3;
  }

  
  .secondS .img2-text{
    text-align: start;
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding: .5rem;
    grid-row: 1/3;
  }

  .secondS .img2-text h2{
    font-size: 17px;
    font-weight: 600;
    text-align: left;
  }

  .secondS .img2-text p{
    display: flex;
    flex-wrap: wrap;
}

.secondS .img1-text{
  animation: fade- infinite 6s;
  width: 100vw;
  overflow: hidden;
}

.secondS .img2-text{
  width: 100%;
  text-align: left;
  overflow: hidden;
}
@keyframes fade-{
  0%{
    width: 100%;
    display: grid;
  }
  50%{
    width: 100%;
    display: grid;
  }
  51%{
    display: none;
  }
  100%{
    display: none;
  }
}

.secondS .slider .img2{
  display: grid;
  width: 100%;
  animation: fade2 linear infinite 6s;
}

@keyframes fade2{
  0%{
    display: none;
  }
  50%{
    display: none;
  }
  51%{
    width: 100%;
    display: grid;
  }
  100%{
    width: 100%;
    display: grid;
  }
}

.secondS .fourStep{
  display: grid;
  grid-template-columns: 8% 92%;
  text-wrap: wrap;
  width: 100%;
  align-items: stretch;
  text-align: left;

  & :nth-child(1) *{
    text-align: justify;
    margin-bottom: 3.5rem;
  }

  & h3{
    text-align: left;
    margin-top: -10px;
  }

  & p{
    font-size: 14px;
    margin-bottom: .5rem;
  }
}

.secondS .fourStep div{
  display: flex;
  flex-direction: column;

}

.SubImg,
.SubImg1,
.SubImg2,
.SubImg3{
  width: 20%;
}

@keyframes sub{
  0%{
    top: 9%;
    left: 70%;
  }
  50%{
    top: 7%;
    left: 73%;
  }
  100%{
    top: 9%;
    left: 70%;
  }
}


@keyframes sub1{
  0%{
    top: 40%;
    left: 5%;
  }
  50%{
    top: 35%;
    left: 7%;
  }
  100%{
    top: 40%;
    left: 5%;
  }
}


@keyframes sub3{
  0%{
    top: 19%;
    left: 69%;
  }
  50%{
    top: 23%;
    left: 65%;
  }
  100%{
    top: 19%;
    left: 69%;
  }
}

@keyframes sub4{
  0%{
    top: 51%;
    left: 26%;
  }
  50%{
    top: 55%;
    left: 22%;
  }
  100%{
    top: 51%;
    left: 26%;
}
}

.plans .container-body{
  margin-inline: calc((3rem + 2vw));

  & .p{
    margin-left:20% ;
  }
}
#experts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  aspect-ratio: 16/9;
  max-height: 30vh !important;
  margin-top: 1rem;
}

.experts{
  padding: 5rem 2rem;

  & h1{
    line-height: 65px;
    font-size: 50px;
  }

  & h2{
    line-height: 35px;
  }

  & p{
    font-size: 14px;
  }
}

.guideline .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.advantage .slider{
  position: relative;
}

.advantage .container-slide{
  width: 45vw;
  height: 30rem;
  background-color: #0c164a;
  margin-top: 8rem !important;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  transition: ease-out 450ms;
}

.advantage img{
  z-index: 1;
}

.liquidity h1{
  font-size: 35px;
  padding-top: 4rem;
}

footer .bottom{
  display: flex;
  margin-right: 2rem;
  align-items: center;
  justify-content: space-between;
}
}







@media (max-width: 50rem) {
  nav{
    width: 100vw;
  }
  .log{
    display: none;
  }
  .login{
    display: block;
    font-size: 10px;
    margin-top: .5rem;
  }
  .brand-name{
    font-size: 30px;
    width: 100vw;
    margin-block: -1rem;
    justify-content: center;
    border-bottom: 1px solid rgb(255, 255, 255, .2);
  }
  .nav-items{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .nav-items ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    text-align: left;
    margin-top: .5rem;
    padding: .5rem;
  }
  ul li{
    font-size: 12px;
    margin-left: 1rem;
  }
  .header{
    display: block;
    padding: 0;
    background-image: none;
    background-color: #0b1c71;
    width: 100vw;
  }
  .header .text{
    Padding: 15rem 0rem 1rem 0rem;
    }
  .header h1, .header p, .header .button{
    text-align: center;
  }
  .header .button button{
    color: #0b1c71;
    padding: .8rem 2rem;
    font-size: 18px;
  }

  .header-img{
    display: block;
    width: 100%;
    height: 50vh;
  }

  .header-img img{
    width: 100vw;
    height: 50vh;

  }
  .social{
    position: relative;
    display: block;
    width: 100vw;
    margin-inline: auto;

  }
  .social div{
    position: absolute;
    border-radius: 15px;
    width: 85%;
    height: 15vh;

  }

  .social h3{
    font-size: 18px;
    font-weight: 100;
  }
  .social p{
    display: block;
    font-size: 14px;
    font-weight: 100;
  }
  .social .first{
    left: 50%;
    top: -4.5rem;
    transform: translate(-50%);
    box-shadow: 1px 2px 8px black;
    z-index: 2;
  }
  .social .second{
    left: 50%;
    top: 3rem;
    transform: translate(-50%);
    box-shadow: 1px 2px 8px black;
  }
  .tradingview-widget-container{
    display: flex;
    width: 95vw !important;


  }
  article{
    padding-top: 20rem;
  }

  article h1{
    font-size: 20px;
    font-weight: 200;
    color: #a0762f !important;
  }

  article p{
    font-size: 14px;
    font-weight: 100 !important;

  }

  .earnflt{
    display: block;
    width: 100%;
    justify-content: center;
    padding-inline: 3rem;
  }

  .certificate{
    display: none;
  }

  .certificate1{
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding-inline: 3rem;
    }
    
    .certificate1 p{
    Font-size:14px;
    margin-bottom: 1rem ;
    }
    
    .certificate1 button{
    Width: 80%;
    background: radial-gradient(ellipse farthest-corner at right      
    bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, 
    transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, 
    #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color:rgb(0%, 0%, 54.5%);
    Padding: 0.8rem;
    Font-size: 18px;
    Font-weight: bold;
    border: none;
    border-radius: 5px;
    }

    .floating{
      Position: relative;
      display: block !important;
      Height: 40vh;
      width: fit-content;
    }

    .secondS img{
      padding-inline: 0rem !important;
    }

    .secondS #phone{
      padding-inline: 0 !important;
    }

    @keyframes fade-{
      0%{
        width: 100%;
        display: grid;
      }
      50%{
        width: 100%;
        display: grid;
      }
      51%{
        display: none;
      }
      100%{
        display: none;
      }
    }

    @keyframes fade2{
      0%{
        display: none;
      }
      50%{
        display: none;
      }
      51%{
        width: 100%;
        display: grid;
      }
      100%{
        width: 100%;
        display: grid;
      }
    }
    
    .plans .container-body{

      grid-template-columns: 1fr;
    }
    

    .plans .container{
      width: 100%;
      padding-inline: 2rem;

      & .p{
        margin-left: 18%;
      }
    }

    #experts{
      min-height: 70vh;

      .experts{
        background-color:  rgb(11, 28, 113, .4);
        max-height: 20vh;
      }

      & h2{
        font-size: 18px;
        font-weight: 200;
        margin-block: .3rem;
      }

      & p{
        margin-top: .3rem;
      }
    }

    .achievement{
      grid-template-columns: 1fr 1fr;

      & div{
        padding: .2rem;
      }
    }

    .advantage h2{
      margin: 0;
      padding: 0;
    }

    .advantage  img{
      position: relative !important;
      width: 49%;
      left: -2rem;
      padding-top: 8rem ;
      margin: 0; 
      z-index: 0;
    }

    .advantage h2{
      margin-top: -8rem;
      padding-inline: 2rem;
    }

    
.advantage .container-slide:hover{
  background-color: inherit;

  & h1{
    font-size: 30px;
  }

  & h2{
    display: flex;
    color: #8A6E2F;
    font-weight: 100;
    text-align: left;
    margin-inline: 0rem;
    border: none;
  }

  & ul{
    text-align: left;
    margin-bottom: 6rem;
  }

  & li{
    margin: .5rem 0;
    margin-inline: 1.6rem;
    color: #fff;
    font-weight: 100;
  }

}

.advantage .container-slide:hover img{
  left: -2rem;
}
.advantage .container-slide:hover .advantage .desc-list:nth-child(1),
.advantage .container-slide:hover .advantage .desc-list:nth-child(2),
.advantage .container-slide:hover .advantage .desc-list:nth-child(3),
.advantage .container-slide:hover .advantage .desc-list:nth-child(4),
.advantage .container-slide:hover .advantage .desc-list:nth-child(5){
  display: grid;
}

.advantage .desc-list :nth-child(2),
.advantage .desc-list :nth-child(3),
.advantage .desc-list :nth-child(4),
.advantage .desc-list :nth-child(5){
  display: grid ;
}
}