nav{
 position: fixed;
 left: 0;
 top: 0;
 display: grid;
 align-items: center;
 background-color: #0c164a;
 Padding: 0.6rem 0.5rem;
 Margin: 0;
 Font-size: 12px;
 Font-weight: bold;
 width: 100%;
 z-index: 90;
}

.log{
 text-align: end;
 border-bottom: .5px solid rgb(255, 255, 255,.3);
 overflow: hidden;
}

.log button{
 background-color: transparent;
 color: #fff;
 padding: .2rem .5rem;
 margin-bottom: .3rem;
 border: 1.5px solid gold;
 border-radius: 5px;
}

.nav-items{
 display: flex;
 Justify-content: space-between;
 align-items: center;
 margin: .5rem ;
}

.brand-name{
 position: sticky;
 top: 0;
 display: flex;
 Font-size: 25px;
 align-items: center;
 Animation: fadeBrand 2s linear forwards; 
 overflow: hidden;  
 
 & a{
   Color: #bb914a;
   text-decoration: none;
 }
}

@keyframes fadeBrand{
from{
Opacity: 0;
}
to{
Opacity: 1;
}
}

.trade a{
Color:#fff;
Font-weight: bolder;
}

ul{
display: flex;
Align-items: center;
} 

li{
 display: block;
list-style: none;
margin-left: 1rem;
padding: .5rem;
Color: #fff;
}

li:hover{
 color: #8A6E2F;
 cursor: pointer;
}
li a{
 text-decoration: none;
 color: #fff;
}

li a:hover{
 color: #8A6E2F;
 cursor: pointer;
}
.login{
 display: none;
Border:1px solid gold;
Padding: 0.4rem 0.4rem;
Border-radius: 5px;
}

nav .container{
 display: none;
 position: absolute;
 width: 100%;
}

ul .about:hover .container,
ul .about:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr !important;
 background-color: #0c164a;
 color: #fff;
 text-align: center;
 margin-top: 0.5rem;
 padding: 1rem .5rem;
 left: 0;
 width: 100vw !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 1000;
 cursor: pointer;
}

.container .one:hover{
 color: #fff !important;
}

.container .two:hover{
 color: #fff !important;
}

li .container div{
 border-right: 1px solid white;
 width: 100% !important;
 padding: .2rem;
}

.container .one h1, h3{
 margin-bottom: .5rem;
 font-size: 28px;
}

.container .one p{
 font-size: 12px;
 line-height: 25px;
}

.container .two h1, h2, h3{
 margin: 1.5rem 0;
 font-size: 20px;
 text-align: center;
 border-bottom: 1px solid white;
}

.container .three h1{
 margin-bottom: .5rem;
 font-size: 20px;
 text-align: center;
 border-bottom: 1px solid white;

}

.container .three div{
 border: none;
}

.container ul{
 display: block;
 text-align: center;


 & li{
   margin-bottom: .5rem;
   margin-top: .5rem;
 }
}

.container li{
 cursor: pointer;
 color: #8A6E2F;
}

.container .two li:hover{
 color: #8A6E2F;
}

.container .two li:hover{
 color: #8A6E2F;
}

ul .about:hover .container,
ul .about:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 justify-content: center;
 text-align: center;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem 0rem;
 left: 0;
 width: 100% !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;

 & h1{
   width: 100%;
 }

 & img{
   width: 100%;
 }
}

ul .about:hover .container .two ul{
 display: inline;
 width: fit-content !important;
 text-align: center;
 justify-content: center;
 padding: 0.5rem;

 & li{
   font-size: 10px;
   margin: 0;
 }
}

ul .Product:hover .container,
ul .Product:focus-within .container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 justify-content: center;
 text-align: center;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem 0rem;
 left: 0;
 width: 100% !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;

 & h1{
   width: 100%;
 }

 & img{
   width: 100%;
 }
}

ul .Product:hover .container .two ul{
 display: inline;
 width: fit-content !important;
 text-align: center;
 justify-content: center;
 padding: 0.5rem;

 & li{
   font-size: 10px;
   margin: 0;
 }
}

ul .tools:hover .container,
ul .tools:focus-within .container  {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color: #0c164a;
 color: #fff;
 margin-top: 0.5rem;
 padding: 1.5rem .5rem;
 left: 0;
 width: 100vw !important;
 height: fit-content;
 border-top: 1px solid rgb(255, 255, 255, .3);
 cursor: pointer;
 z-index: 50;
}

ul .tools:hover .container ul{
 display: inline;
 text-align: center;
 padding-inline: auto;
 padding: 0 !important;
}

.map{
 margin-top: -5rem;
 & p{
   padding: 8rem 1rem;
   background-color: #0c164a;
   color: rgb(255, 255, 255, .7);
   font-size: 14px;
 }
}

footer{
 background-color: #0c164a;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 overflow: hidden;

 & ul{
   padding: 0 0 3.5rem 1rem;
   margin-inline: auto;
 }

 & a{
   font-size: calc((10px) + .9vw);
   position: relative;
 }
}

footer a::after{
 content: '';
 position: absolute;
 bottom: -3px;
 left: 0;
 border: 1px solid  #1E53E5;
 width: 100%;
}

footer .bottom{
 text-align: left;
 display: grid;
 padding-left: 2rem;
}

footer .brand_name{
 display: flex;
 Font-size: 16px;
 align-items: center;
 Color: #bb914a;;

 & .trade{
   font-weight: bold;
 }
}

footer .copyright{
 color: rgb(255, 255, 255, .7);
 font-size: 14px;
 margin-block: 2rem;
}

@media (min-width: 50rem){
 footer .bottom{
  display: flex;
  margin-right: 2rem;
  align-items: center;
  justify-content: space-between;
}
}




@media (max-width: 50rem) {
 nav{
  width: 100vw;
}
.log{
  display: none;
}
.login{
  display: block;
  font-size: 10px;
  margin-top: .5rem;
}
.brand-name{
  font-size: 30px;
  width: 100vw;
  margin-block: -1rem;
  justify-content: center;
  border-bottom: 1px solid rgb(255, 255, 255, .2);
}
.nav-items{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.nav-items ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  text-align: left;
  margin-top: .5rem;
  padding: .5rem;
}
ul li{
  font-size: 12px;
  margin-left: 1rem;
}
}  